---
import type { Page, GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import Pagination from "@/components/Paginator";
import { getUniqueTags, sortMDByDate } from "@/utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getCollection("post");
	const allPostsByDate = sortMDByDate(allPosts);
	const uniqueTags = getUniqueTags(allPosts);
	return paginate(allPostsByDate, { props: { uniqueTags }, pageSize: 5 });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"post">>;
	uniqueTags: string[];
}

const { page, uniqueTags } = Astro.props;

const meta = {
	title: "Posts",
	description: "Ready my collection of posts and the things that interest me",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			url: page.url.prev,
			text: `← View Previous Posts`,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			url: page.url.next,
			text: `View More Posts →`,
		},
	}),
};
---

<PageLayout meta={meta}>
	<div class="">
		<div class="scroll-container scroll-area">
			<h1 class="title" style={{ position: "relative", textAlign: "center", width: "100%" }}>
				Posts
			</h1>
			<!-- <div class="contentpanel horizontal-scroll panels"> -->
			<div class="contentpanel grid-container">
				<div class="sliderSpacer" style={{ height: "", paddingTop: "", display: "" }}></div>
				{
					!!uniqueTags.length && (
						<aside
							style={{
								textAlign: "center",
								display: "grid",
								placeContent: "center",
								padding: "1vh 1vw",
								// background: "rgba(0, 0, 0, .6)",
								// height: "75vh",
								width: "100%",
								position: "relative",
								top: "0",
								// border: "3px solid #000",
								borderRadius: "12px",
								transition: "all .3s ease-in-out",
							}}
						>
							<div
								class="panel"
								style={{
									maxWidth: "500px",
									color: "#ddd",
									borderRadius: "5px",
									border: "4px solid #222",
								}}
							>
								<h3>What do you think?</h3>
								<br />
								<p style={{ textAlign: "left" }}>
									Todd Lambert is a photographer and web developer based in the United States.
								</p>

								<h2 class="flex items-center text-lg font-semibold">
									<svg
										aria-hidden="true"
										xmlns="http://www.w3.org/2000/svg"
										class="h-6 w-6"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										fill="none"
										stroke-linecap="round"
										stroke-linejoin="round"
									>
										<path stroke="none" d="M0 0h24v24H0z" fill="none" />
										<path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z" />
										<path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116" />
										<path d="M6 9h-.01" />
									</svg>
									Popular
								</h2>
								<ul class="flex flex-wrap gap-1 text-bgColor">
									{uniqueTags.map((tag) => (
										<li>
											<a
												class="flex items-center justify-center rounded-sm bg-accent p-1"
												style={{
													background: "rgba(55, 55, 55, 0.8)",
													color: "#fff",
													textShadow: "1px 1px 0 #222",
												}}
												href={`/tags/${tag}/`}
												aria-label={`View all posts with the tag: ${tag}`}
											>
												{tag}
											</a>
										</li>
									))}
								</ul>
								<div class="">
									<br />
									<a
										class="sm:hover:text-accent"
										href="/tags/"
										aria-label="View all blog categories"
									>
										View all categories →
									</a>
								</div>
							</div>
						</aside>
					)
				}
				{page.data.map((p) => <PostPreview post={p} as="h2" withDesc />)}

				<div
					class=""
					style={{
						textAlign: "center",
						display: "grid",
						placeContent: "center",
						padding: "1vh 1vw",
						// background: "rgba(0, 0, 0, .6)",
						// height: "75vh",
						width: "100%",
						position: "relative",
						top: "0",
						// border: "3px solid #000",
						borderRadius: "12px",
						transition: "all .3s ease-in-out",
					}}
				>
					<div class="button"><Pagination {...paginationProps} /></div>

					<div
						style={{
							display: "flex",
							flexDirection: "column",
							justifyContent: "space-around",
							marginTop: "0",
						}}
					>
						{
							!!uniqueTags.length && (
								<aside
									class="panel"
									style={{
										maxWidth: "500px",
										color: "#ddd",
										borderRadius: "5px",
										border: "4px solid #222",
									}}
								>
									<h2 class="mb-4 flex items-center text-lg font-semibold">
										<svg
											aria-hidden="true"
											xmlns="http://www.w3.org/2000/svg"
											class="h-6 w-6"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											fill="none"
											stroke-linecap="round"
											stroke-linejoin="round"
										>
											<path stroke="none" d="M0 0h24v24H0z" fill="none" />
											<path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z" />
											<path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116" />
											<path d="M6 9h-.01" />
										</svg>
										Popular
									</h2>
									<ul class="flex flex-wrap gap-1 text-bgColor">
										{uniqueTags.map((tag) => (
											<li>
												<a
													class="flex items-center justify-center rounded-sm bg-accent p-1"
													style={{
														background: "rgba(55, 55, 55, 0.8)",
														color: "#fff",
														textShadow: "1px 1px 0 #222",
													}}
													href={`/tags/${tag}/`}
													aria-label={`View all posts with the tag: ${tag}`}
												>
													{tag}
												</a>
											</li>
										))}
									</ul>
									<div class="">
										<br />
										<a
											class="sm:hover:text-accent"
											href="/tags/"
											aria-label="View all blog categories"
										>
											View all categories →
										</a>
									</div>
								</aside>
							)
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</PageLayout>
